.accounts-container {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accounts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}